<div class="row-fluid" id="homer1">
  <div class="span12">
    <br>

      <!--<h3>First-rate Health Fairs!</h1>-->
      <h2>First-rate health fairs.</h2>
      <h4>Meet your future patients at our events. 
        <br>Sign up to get started.</h4>
        <br>

      <form>
  <fieldset>
    
    <div class="form-group">
      <label for="exampleInputEmail"></label>
      <input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword"></label>
      <input type="password" class="form-control" id="exampleInputPassword" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-large btn-primary">Sign Up Now!</button>
  </fieldset>
</form>


    &nbsp;
    <div class="row-fluid" id="overlay">
    </div>
  </div>
</div>

<!-- Begin row 2 -->
<div class="row-fluid" id="homer2">
      <h2 class="text-center" id="testimonials"> Hear from our Doctors</h2>
    <!--Begin testimonial 1 -->  
      <div class="row-fluid show-grid">
          <div class="span4">
            <center><img src="http://www.providencehospitals.com/images/Upload/Doctor-Headshot.jpg" class="img-circle"><center>
            <i class="icon-comment icon-4x"></i>
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </p>
              <small>
                Someone famous <cite title="Source Title">Source Title</cite>
              </small>
            </blockquote>
          </div>

      <!--Begin testimonial 2 --> 
          <div class="span4">
            <center><img src="https://vt-s3-files.s3.amazonaws.com/uploads/blog_images/654/display/display_Dr._Mike_Frazier.jpg" class="img-circle"><center>
            <i class="icon-comment icon-4x"></i>
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </p>
              <small>
                Someone famous <cite title="Source Title">Source Title</cite>
              </small>
            </blockquote>
          </div>

      <!--Begin testimonial 3 --> 
          <div class="span4">
            <center><img src="http://www.aboutplasticsurgery.com/dbii/dr/Shell_653/headshots/headshot200x200_653.jpg" class="img-circle"><center>
            <i class="icon-comment icon-4x"></i>
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </p>
              <small>
                Someone famous <cite title="Source Title">Source Title</cite>
              </small>
            </blockquote>
          </div>
        </div>

</div>


