<div id="footer">
      <div class="container">
          <div class="span4">
          <address>
            <strong>Health Fair Connections, Inc.</strong><br>
            P.O. Box 2865<br>
            Durham, NC 27707<br>
            <abbr title="Phone">P:</abbr> (855) 456-7890
          </address>

          <address>
            <strong>Support</strong><br>
            <a href="mailto:#">support@healthfairconnections.com</a>
          </address>
        </div>
      </div>
    </div>

</div>